* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc; /* Fundo cinza claro para a página toda */
    margin: 0;
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        max-width: 992px;
        /* height: auto; */ /* já é o padrão para min-height */
        margin: 1rem auto;
        border-radius: 1rem;
    }
}